@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Casablanca <br />
    oujda,<br />
    <abbr title="Phone">Phone:</abbr>
    xxx.xxx.xxx.xxx
</address>

<address>
    <strong>EMSI:</strong>   <a href="https://www.emsi.ma/">https://www.emsi.ma/</a><br />
   
</address>